:root {
  --primary-color: #f50b75;
  --secondary-color: #ff3997;
  --gray-color: #5a5a5a;
  --gray-dark-color: #292929;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:var(--gray-dark-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rollo-img{
  height: 60px;
  width: 60px;
  border-radius: 50px;
  margin-bottom: 2rem;
}

.rollo-img p {
  display: inline;
  color:#ff3997;
  font-weight: bold;
}
.App-title {
  color: var(--secondary-color);
}
p {
  color: cornflowerblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
